:root {
	--white: #fff;
	--black: #000;
	--bleu: #0050ff;
	--brun: #f4ece6;
	--brun-fonce: #e6dace;
	--background-test: #49b;
}

@font-face {
	font-family: poppinssemibold;
	src: url(./font/poppins-semibold.ttf);
}

@font-face {
	font-family: avenirlight;
	src: url(./font/AvenirLight.ttf);
}

@font-face {
	font-family: avenirblack;
	src: url(./font/AvenirLTStd-Black.otf);
}

.back {
	background-color: var(--brun-fonce);
	width: 100%;
	height: 700px;
}