:root {
    --white: #fff;
    --black: #000;
    --bleu: #0050ff;
    --brun: #f4ece6;
    --brun-fonce: #e6dace;
    --background-test: #49b;
}

.wipe-transition {
    z-index: 5;
    width: 100%;
    height: calc(100% - 100px);
    background: linear-gradient(90deg, var(--brun), var(--brun-fonce));
    position: absolute;
    left: -100%;
}