.delay06s {
    transition-delay: 0.6s;
}

.delay04s {
    transition-delay: 0.4s;
}

.delay02s {
    transition-delay: 0.2s;
}

/* accueil */

.transition-info-info {
    transition-duration: 2s;
    height: 540px;
}

html.is-animating .transition-info-info {
    height: 0px;
}

.transition-back-accueil {
    transition-duration: 2s;
    width: 40%;
    height: 710px;
}

html.is-animating .transition-back-accueil {
    width: 100%;
    height: 1620px;
}

/* experiences */

.transition-back-experiences {
    transition-duration: 2s;
    width: 100%;
    height: 1620px;
}

/* competences */



/* scloarite */



/* diplomes */



/* projets */



/* loisirs */


