<main class="page">
	<div class="info">
		<div class="infocentrage">
			<div><img class="photo" src="./static/images/futurphoto.png" alt="Martin"></div>
			<h3 class="prenomnom">Martin<br>Barbey</h3>
			<div class="tiret"></div>
			<h4 class="infoetud">Etudiant en Systèmes Numériques</h4>
		</div>
		<div class="divlesreseau lesreseau">
			<div></div>
			<div class="lesreseau">
				<a class="infoicon linkedin" href="https://www.linkedin.com/in/martin-barbey/" target="_blank">
					<img class="iconlinkedin" src="./static/icon/linkedin.png" alt="Linkedin">
				</a>
				<a class="infoicon github" href="https://github.com/Hokare" target="_blank">
					<img class="icongithub" src="./static/icon/github.png" alt="Github">
				</a>
				<a class="infoicon gitlab" href="https://gitlab.com/Hokare" target="_blank">
					<img class="icongitlab" src="./static/icon/gitlab.png" alt="Gitlab">
				</a>
			</div>
			<div></div>
		</div>
	</div>
	<div class="deplacement">
		<div class="bonjour">Enchanté</div>
		<div class="divdeplacement">
			<div></div>
			<div>
				<ul class="listedeplacement">
					<li>
						<div class="divadivliste">
							<a href="./static/templates/experiences.html">
								<div class="divliste">Experiences</div>
							</a>
						</div>
						<div class="divadivliste">
							<a href="./static/templates/competences.html">
								<div class="divliste">Compétences</div>
							</a>
						</div>
					</li>
					<li>					
						<div class="divadivliste">
							<a href="./static/templates/scolarité.html">
								<div class="divliste">Scolarité</div>
							</a>
						</div>
						<div class="divadivliste">
							<a href="./static/templates/diplomes.html">
								<div class="divliste">Diplômes</div>
							</a>
						</div>
					</li>
					<li>
						<div class="divadivliste">
							<a href="./static/templates/projets.html">
								<div class="divliste">Projets</div>
							</a>
						</div>
						<div class="divadivliste">
							<a href="./static/templates/loisirs.html">
								<div class="divliste">Loisirs</div>
							</a>
						</div>
					</li>
					<div class="divadivliste divcv">
						<a href="./static/document/Martin Barbey.pdf" target="_blank">
							<div class="divlistecv">CV</div>
						</a>
					</div>
				</ul>
			</div>
			<div></div>
		</div>
	</div>
	<div id="swup" class="back  transition-fade"></div>
</main>